#grid {
    display: inline-grid;
    grid-template-rows: repeat(16, 30px [row-start]);
    grid-template-columns: repeat(16, 30px [col-start]);
}

.center{
    text-align: center;
}

.grid {
    border: 1px dotted black;
    width: 30px;
    height: 30px;
}

.grid:hover{
    background-color: black;
}

#clearBtn {
    margin: 20px;
}

#rainbowBtn{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    font-weight: bold;
    color: red;
}

.backGroundImg {
    background-image: url('');
}